INTERNAL_PORT=
DB_HOST=
DB_PORT=

JWT_SECRET=
JWT_EXPIRES_IN=
SEED_ADMIN_PASSWORD=

AWS_REGION=
AWS_S3_EXTERNAL_ENDPOINT=
AWS_S3_FORCE_PATH_STYLE=
AWS_CLOUDFRONT_URL=
FILES_PRESIGN_EXPIRES_IN_SEC=

RABBITMQ_URL=

PAYMENTS_GRPC_URL=
PAYMENTS_GRPC_TIMEOUT_MS=
