PORT=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

JWT_SECRET=
JWT_EXPIRES_IN=
SEED_ADMIN_PASSWORD=

AWS_REGION=
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_ENDPOINT=
AWS_S3_EXTERNAL_ENDPOINT=
AWS_S3_FORCE_PATH_STYLE=
AWS_CLOUDFRONT_URL=
FILES_PRESIGN_EXPIRES_IN_SEC=
